<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/books"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ book.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteBook(book.code)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="update(book.code)">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <div id="container">
  <ion-card>
  <ion-item>
    <ion-card-content>
      <ion-card-title>Código: </ion-card-title>
      <ion-card-subtitle>{{book.code}}</ion-card-subtitle>
      <ion-card-title>Autor: </ion-card-title>
      <ion-card-subtitle>{{book.author}}</ion-card-subtitle>
      <ion-card-title>Título: </ion-card-title>
      <ion-card-subtitle>{{book.title}}</ion-card-subtitle>
      <ion-card-title>Género: </ion-card-title>
      <ion-card-subtitle>{{book.genre}}</ion-card-subtitle>
      <ion-card-title>Editorial: </ion-card-title>
      <ion-card-subtitle>{{book.publisher}}</ion-card-subtitle>
      <ion-card-title>Cantidad: </ion-card-title>
      <ion-card-subtitle>{{book.quantity}}</ion-card-subtitle>
      <ion-card-title>Precio: </ion-card-title>
      <ion-card-subtitle>₡ {{book.price}}</ion-card-subtitle>
      <ion-card-title>Descripción: </ion-card-title>
      <ion-card-subtitle>{{book.description}}</ion-card-subtitle>
</ion-card-content>
</ion-item>
</ion-card>
</div>
</ion-content>
