<ion-header [translucent]="false">
  <ion-toolbar id="containerC">
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/books/add' ]">
        <ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <h1 id="h1">Biblioteca</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3 id="h3">Libros Disponibles</h3>

  <div id="container">
    <ion-card *ngFor="let books of book">
      <ion-item>
        <ion-button slot="end" (click)="view(books.code)">Ver</ion-button>
        <ion-card-header>
          <ion-card-subtitle>{{books.author}}</ion-card-subtitle>
          <ion-card-title>{{books.title}}</ion-card-title>
        </ion-card-header>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
