<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/books"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Libro</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="addBook()" [disabled]="!formBookAdd.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formBookAdd">
    <ion-grid>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Código</ion-label>
            <ion-input
              type="number"
              autocomplete
              autocorrect
              formControlName="pcode"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Autor</ion-label>
            <ion-input
              type="string"
              autocomplete
              autocorrect
              formControlName="pauthor"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Título</ion-label>
            <ion-input
              type="string"
              autocomplete
              autocorrect
              formControlName="ptitle"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Género</ion-label>
            <ion-input
              type="string"
              autocomplete
              autocorrect
              formControlName="pgenre"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Editorial</ion-label>
            <ion-input
              type="string"
              autocomplete
              autocorrect
              formControlName="ppublisher"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input
              type="number"
              autocomplete
              autocorrect
              formControlName="pquantity"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input
              type="number"
              autocomplete
              autocorrect
              formControlName="pprice"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea
              autocomplete
              autocorrect
              formControlName="pdescription"
            >
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
     

      <ion-row
        *ngIf="!formBookAdd.get('pdescription').valid &&
        formBookAdd.touched"
      >
        <ion-col size-sm="6" offset-sm="3">
          <p>La descripcion debe de ser mayor a 20 caracteres</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>